<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:if="${tablePage}"> 
	<!-- 表格底部页码 -->
	<div class="box">
		<div class="col-sm-12">
			<div class="pull-left">
				<div class="" id="">
					&nbsp;&nbsp;共 <span th:text="${tablePage.totalRow}"></span>
					条记录/共
					 <span th:text="${tablePage.pageCount }"></span>
					页
				</div>
			</div>
			<div class="text-center">
				<div class="" id="">
					<ul class="pagination">
						<th:block th:if="${tablePage.currentPage ne 1 }">
							<li class=""><a
								href="?page=1${tablePage.otherParam }">首页</a></li>
							<th:block th:if="${tablePage.pageCount ge 3 }">
								<li class=""><a
									th:href="|?page=${tablePage.currentPage-1 }${tablePage.otherParam }|"><span
										aria-hidden="true">&laquo;</span></a></li>
							</th:block>
							<th:block th:if="${tablePage.pageCount le (3-1) }">
								<li class="disabled"><a href="#"><span
										aria-hidden="true">&laquo;</span></a></li>
							</th:block>
						</th:block>
						
						<th:block th:if="${tablePage.currentPage eq 1 }">
							<li class="disabled"><a href="#">首页</a></li>
							<li class="disabled"><a href="#"><span aria-hidden="true">&laquo;</span></a></li>
						</th:block>
						
						<!-- <th:block th:="range,numIndex: ${tablePage.pageRange}">
							<th:block th:if="${tablePage.currentPage eq numIndex.index }">
								<li class="active"><a
									th:href="|?page=${numIndex.index }${tablePage.otherParam }|" th:text="${numIndex.index }"></a></li>
							</th:block>
							<th:block th:if="${tablePage.currentPage ne numIndex.index }">
								<li><a
									href="|?page=${numIndex.index }${tablePage.otherParam }" th:text="${numIndex.index }"></a></li>
							</th:block>
						</th:block> -->
						
						<th:block th:if="${tablePage.currentPage ne tablePage.pageCount }">
						
							<th:block th:if="${tablePage.pageCount ge 3 }">
								<li><a
									th:href="|?page=${tablePage.currentPage + 1 }${tablePage.otherParam }|"><span
										aria-hidden="true">&raquo;</span></a></li>
							</th:block>
							<th:block th:if="${tablePage.pageCount le (3-1) }">
								<li class="disabled"><a href="#"><span
										aria-hidden="true">&raquo;</span></a></li>
							</th:block>
							<li><a
								th:href="|?page=${tablePage.pageCount }${tablePage.otherParam }|">末页</a></li>
						</th:block>
						<th:block th:if="${tablePage.currentPage eq tablePage.pageCount }">
							<li class="disabled"><a href="#"><span aria-hidden="true">&raquo;</span></a></li>
							<li class="disabled"><a href="#">末页</a></li>
						</th:block>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--end 表格底部信息 -->
</th:block>
</html>
