<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>定时网页抓取任务创建</title>
    <th:block th:include="commons/header" />
</head>
	<th:block th:include="commons/head" />
<body>
<div class="container">
	<hr/>
    <div >
        <form action="/panel/commons/createQuartz" method="post"
              id="quartzForm">
            <div class="form-group">
                <label for="spiderInfoId">爬虫模板ID</label>:
                <input type="text" class="" id="spiderInfoId" name="spiderInfoId" placeholder="输入已注册的爬虫模板ID"
                       th:value="${spiderInfoId}">
            </div>
            <div class="form-group">
                <label for="hourInterval">循环间隔小时数</label>:
                <input type="number" class="" id="hourInterval" name="hourInterval" placeholder="输入循环间隔小时数">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">提交</button>
            </div>
        </form>
    </div>
</div>

<th:block th:include="commons/allScript" />
<script>
    $().ready(function () {
        $("#quartzForm").validate({
            rules: {
                spiderInfoId: {
                    required: true,
                    remote: "/commons/spider/checkQuartzJob"
                },
                hourInterval: {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            success: function (label) {
                label.closest('.form-group').removeClass('has-error');
                label.remove();
            },
            errorPlacement: function (error, element) {
                element.parent('div').append(error);
            }
        });
    });
</script>
</body>

</html>