<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>网站列表</title>
     <th:block th:include="commons/header" />
</head>
<body>
<th:block th:include="commons/head" />
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>网站域名</th>
            <th>资讯数</th>
            <th>查看列表</th>
            <th>删除</th>
            <th>导出数据</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="domain,index : ${domainList}" var="domain" varStatus="index">
            <tr>
                <th scope="row" th:text="${index.count}"></th>
                <td th:text="${domain.key}"></td>
                <td th:text="${domain.value}"></td>
                <td><a class="btn btn-info"
                       href="/panel/commons/list?domain=${domain.key}">查看资讯列表</a>
                </td>
                <td><a class="btn btn-danger"
                       onclick="rpcAndShowData('/commons/webpage/deleteByDomain', {domain: '${domain.key}'});">删除网站数据</a>
                </td>
                <td><a class="btn btn-info"
                       href="/commons/webpage/exportWebpageJSONByDomain?domain=${domain.key}">导出该网站数据JSON</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<div class="container" id="wordCloudBody" style="height:400px"></div>
<th:block th:include="commons/allScript" />
</body>
</html>
