<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>爬虫模板列表</title>
    <th:block th:include="commons/header" />
    <th:block th:include="commons/allScript" />
    <script type="text/javascript">
        $(function () {
            var validate = $("#spiderInfoForm").validate({
                rules: {
                    page: {
                        required: true,
                        number: true
                    }
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                    label.remove();
                },
                errorPlacement: function (error, element) {
                    element.parent('div').append(error);
                }
            });

        });
        function checkAll() {
            $('input:checkbox').each(function () {
                $(this).attr('checked', true);
            });
        }
        function startAll() {
            var idList = [];
            $("input:checkbox:checked").each(function () {
                idList.push($(this).attr('id'));
            });
            rpcAndShowData('/commons/spider/startAll', {spiderInfoIdList: idList.join(',')});
        }
    </script>
</head>
<body>
<th:block th:include="commons/head" />

<div class="container">
<hr/>
    <form class="form-inline" id="spiderInfoForm"
          action="/panel/commons/listSpiderInfo">
        <div class="form-group">
            <label for="page">页码:</label>
            <input class="form-control" type="number" id="page" name="page" th:value="${page}">
        </div>
        <div class="form-group">
            <label for="domain">域名:</label>
            <input class="form-control" id="domain" name="domain" th:value="${domain}">
        </div>
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
</div>
<div class="container">
    <div>
    	<hr/>
        <button type="button" onclick="startAll()">启动选中</button>
        <button type="button" onclick="checkAll()">全选</button>
    </div>
    <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>网站域名</th>
            <th>网站名称</th>
            <!-- <th>查看数据</th> --> 
            <th>编辑</th>
            <th>删除</th>
            <th>定时任务</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="info,index : ${spiderInfoList}" var="info" varStatus="index">
            <tr>
                <th><label>
                    <input type="checkbox" th:id="${info.id}" th:value="${index.count}">
                </label></th>
                <td th:text="${info.domain}"></td>
                <td th:text="${info.siteName}"></td>
                <!-- <td></td> -->
                <td>
                    <a class="btn btn-info"
                       th:href="|/panel/commons/editSpiderInfoById?spiderInfoId=${info.id}|">编辑</a>
                </td>
                <td>
                    <button th:onclick="|rpcAndShowData('/commons/spiderinfo/deleteById',{id:'${info.id}'})|"
                            class="btn btn-danger">
                        删除
                    </button>
                </td>
                <td>
                    <a th:href="|/panel/commons/createQuartz?spiderInfoId=${info.id}|"
                       class="btn btn-secondary">创建定时任务</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>
