<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>定时网页抓取任务列表</title>
    <th:block th:include="commons/header" />
</head>

<body>
<th:block th:include="commons/head" />
<div class="container">
    <div class="row">
        <table>
            <thead>
            <tr>
                <th>网站名称</th>
                <th>上次执行时间</th>
                <th>下次执行时间</th>
                <th>创建时间</th>
                <th>删除任务</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="entry: ${list}">
                <tr>
                    <td th:text="${entry.value.left.siteName}"></td>
                     <td th:text="${entry.value.right.previousFireTime}"></td>
                    <td th:text="${entry.value.right.nextFireTime}"> </td>
                    <td th:text="${entry.value.right.startTime}"> </td>
                   <!--  <td ><fmt:formatDate value="${entry.value.right.previousFireTime}"
                                        pattern="yyyy/MM/dd HH:mm:ss"/></td>
                    <td><fmt:formatDate value="${entry.value.right.nextFireTime}"
                                        pattern="yyyy/MM/dd HH:mm:ss"/></td>
                    <td><fmt:formatDate value="${entry.value.right.startTime}"
                                        pattern="yyyy/MM/dd HH:mm:ss"/></td> -->
                    <td>
                        <button th:onclick="|deleteQuartzJob('${entry.key}')|" class="am-btn am-btn-default">删除定时任务
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<th:block th:include="commons/minScript" />
<script>
    function deleteQuartzJob(spiderInfoId) {
        var cc = confirm("是否要删除定时任务");
        if (cc) {
            $.get('/commons/spider/removeQuartzJob', {spiderInfoId: spiderInfoId}, function () {
                alert("删除定时任务成功");
            });
        }
    }
</script>
</body>

</html>