<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>相关资讯</title>
    <th:block th:include="commons/header" />
</head>
<body>
<th:block th:include="commons/head" />
<div class="container">
    <div class="row">
        <h1 class="display-1" th:text="${title}">
            
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>人物名称</th>
                    <th>提及次数</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="bucket:${relatedPeople}" var="bucket">
                    <tr>
                        <td th:text="${bucket.key}"> </td>
                        <td th:text="${bucket.docCount}"> </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>地点名称</th>
                    <th>提及次数</th>
                </tr>
                </thead>
                <tbody>

                <th:block th:each="${relatedLocation}" var="bucket">
                    <tr>
                        <td th:text="${bucket.key}"></td>
                        <td th:text="${bucket.docCount}"> </td>
                    </tr>
                </th:block>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>机构名称</th>
                    <th>提及次数</th>
                </tr>
                </thead>
                <tbody>

                <th:block th:each="bucket:${relatedInstitution}" >
                    <tr>
                        <td th:text="${bucket.key}"></td>
                        <td th:text="${bucket.docCount}"></td>
                    </tr>
                </th:block>

                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>关键词</th>
                    <th>提及次数</th>
                </tr>
                </thead>
                <tbody>

                <th:block th:each="bucket : ${relatedKeywords}">
                    <tr>
                        <td th:text="${bucket.key} "></td>
                        <td th:text="${bucket.docCount}"></td>
                    </tr>
                </th:block>

                </tbody>
            </table>
        </div>
    </div>
</div>

<th:block th:include="commons/minScript" />
</body>
</html>
