<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${webpage.title}"></title>
     <th:block th:include="commons/header" />
</head>
<body>
<th:block th:include="commons/head" />
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h2 class="display-1" th:text="${webpage.title}"></h2>
            <p th:text="${webpage.content}"></p>
            <h3>网页元信息</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 20%">属性名称</th>
                    <th style="width: 80%">属性值</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>关键词</td>
                    <td>
                        <th:block th:each="word: ${webpage.keywords}">
                            <span class="label label-primary" th:text="${word}"></span>
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <td>类别</td>
                    <td th:text="${webpage.category}"></td>
                </tr>
                <tr>
                    <td>摘要</td>
                    <td style="word-break:break-all; word-wrap:break-word;">
                        <th:block th:each="sentence : ${webpage.summary}">
                            <span th:text="${sentence}"></span>,
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <td>人名</td>
                    <td style="word-break:break-all; word-wrap:break-word;">
                        <th:block th:each="word: ${webpage.namedEntity.get('nr')}">
                            <a class="btn btn-info btn-sm" style="margin: 1px"
                               th:href="|/panel/commons/showRelatedInfo?query=namedEntity.nr:${word}|" th:text="${word}"></a>
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <td>地名</td>
                    <td style="word-break:break-all; word-wrap:break-word;">
                        <th:block th:each="word:${webpage.namedEntity.get('ns')}">
                            <a class="btn btn-info btn-sm" style="margin: 1px"
                               th:href="|/panel/commons/showRelatedInfo?query=namedEntity.ns:${word}|" th:text="${word}"></a>
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <td>机构名</td>
                    <td style="word-break:break-all; word-wrap:break-word;">
                        <th:block th:each="word:${webpage.namedEntity.get('nt')}">
                            <a class="btn btn-info btn-sm" style="margin: 1px"
                               th:href="|/panel/commons/showRelatedInfo?query=namedEntity.nt:${word}|" th:text="${word}"></a>
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <td>发布时间</td>
                    <td th:text="${#dates.format(webpage.publishTime,'yyyy-MM-dd HH:mm:ss')}">
                    </td>
                </tr>
                <tr>
                    <td>采集时间</td>
                    <td th:text="${#dates.format(webpage.gathertime,'yyyy-MM-dd HH:mm:ss')}">
                    </td>
                </tr>
                <tr>
                    <td>网页处理耗时</td>
                    <td th:text="|${webpage.processTime/(1000.0)}秒|">
                        
                    </td>
                </tr>
                <tr>
                    <td>采集模板</td>
                    <td>
                        <a class="btn btn-info" target="_blank"
                           th:href="|/panel/commons/editSpiderInfoById?spiderInfoId=${webpage.spiderInfoId}|">查看爬虫模板</a>
                    </td>
                </tr>
                <tr>
                    <td>原网站</td>
                    <td>
                        <a class="btn btn-info" target="_blank"
                           th:href="|/panel/commons/list?domain=${webpage.domain}|" th:text="|查看${webpage.domain}的新闻|"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <h3>动态字段</h3>
            <table class="table table-reflow">
                <thead>
                <tr>
                    <th:block th:each="entry:${webpage.dynamicFields}">
                        <th th:text="${entry.key}"></th>
                    </th:block>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th:block th:each="entry:${webpage.dynamicFields}" >
                        <td th:text="${entry.value}"></td>
                    </th:block>
                </tr>
                </tbody>
            </table>
            <p>
                <a th:href="${webpage.url}" target="_blank">阅读原文</a>
            </p>
        </div>
        <div class="col-sm-3">
            <h3>相关资讯</h3>
            <ul class="list-group">
                <th:block th:each="relatedWebpage:${relatedWebpageList}" >
                    <li class="list-group-item">
                        <a th:href="|/panel/commons/showWebpageById?id=${relatedWebpage.id}|" th:text="${relatedWebpage.title}"></a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</div>
<th:block th:include="commons/minScript" />
</body>
</html>
